body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    margin: 0;
    padding: 0;
}
#cabecera {
    background-color: blue;
    box-shadow: 0px 2px 20px 0px black;
    color: red;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#container {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid gray;
    margin: 0 auto;
}
#text {
    padding: 1em;
}

#container h1 {
    font-size: 20px;
}

#footer{
    font-weight: bold;
    color: white;
    background-color: blue;
    height: 5vh;
    align-items: center;
    justify-content: center;
}